body, html {
    font-family: 'Jost';
    background-color: rgb(245, 245, 245);
    color: rgb(20, 20, 20);
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    height: 100%;
    width: 75vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.charContainer {
    display: block;
    justify-content: center;
    font-size: 9vw;
    width: 9vw;
    height: 100%;
}

.char {
    position: relative;
    top: 45vh;
}

.mobileChar {
    position: relative;
    top: 45vh;
}

.rangeContainer {
    position: absolute;
    bottom: 20vh;
    width: 50vw;
    z-index: 1;
}

.rangeCls {
    width: 100%;
}