body, html {
    font-family: 'Jost';
    background-color: rgb(245, 245, 245);
    color: rgb(20, 20, 20);
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scene {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.vertical-bar {
    border: 1px solid black;
}

.mobileSliderBox {
    /*Does nothing for now*/
}

.mobileLetterBox {
    top: 45vh;
}

.staticLetterBox {
    top: 45vh;
}